name: iOS Build (Unsigned)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Install dependencies
      run: flutter pub get

    - name: Build iOS (No Codesign)
      run: |
        flutter build ios --release --no-codesign

    - name: Create IPA for Sideloadly
      run: |
        mkdir Payload
        mv build/ios/iphoneos/Runner.app Payload/
        zip -r release.ipa Payload

    - name: Upload IPA
      uses: actions/upload-artifact@v4
      with:
        name: ios-app
        path: release.ipa
